:root {
    --bg-color: #e7e3e3;
    --el-bg-color: #1aa5993d;
    --el-color-1: #A6ED8E;
    --el-color-2: #F3FFB9;
    --txt-col-dark: #424242;
    --txt-col-medium: #787878;
    --txt-col-clear: #000000;
}

@font-face {
    font-family: mainFont;
    src: url(../fonts/water_galon/Water\ Galon.ttf);
  }

* {
    font-family: mainFont;
    padding: 0;
    margin: 0;
}

html {
    overflow-y: auto !important;
    overflow-x: auto !important;    
}

#pixi-content {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left: 0;
    overflow: hidden;
}


body {
    position: relative;
    background-color: var(--bg-color);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    gap:3rem;
    overflow-y: auto !important;
    overflow-x: auto !important;  
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 20px;
    max-width: 98vw;
    width: fit-content;
    text-align: center;
    background-color: var(--el-bg-color);
    overflow-y: auto;
    box-shadow: #424242 1px 1px 3px;
    border-radius: 2px;
    margin-left: 30%;
    
}

footer {
    padding-top: 20px;
    padding-bottom: 10px;
    color: var(--txt-col-clear);
    position:absolute;
    bottom: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

nav a {
    width: 300px;
    max-width: 100%;
    background-color: var(--el-color-2);
    padding: 5px 8px;
    margin-top: 10px;
    border-radius: 3px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    background-color: var(--el-color-1);
}

.servers {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    list-style: none;
}
.servers li {
    background-color: #A6ED8E;
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    border: 1px palevioletred solid;
    cursor: pointer;
}

.servers li:hover {
    scale: 1.05;
    opacity: 0.8;
    
}
/* Utils */

.display-none {
    display: none;
}

.title {
    text-align: center;
    font-size: 1.5rem;
    margin-left: 30%;
}

.home-img {
    position: absolute;
    z-index: -5;
    bottom: 0;
    left: 0;
    width: 90%;

}

@media screen and (max-width: 1200px) {
    .title, main {
        margin-left: initial;
    }
  }

form {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap:1rem;
}

::placeholder {
    padding-left: 0.5rem;
}

input {
    padding: 0.2rem;
    border-radius: 5px;
}

.button-style {
    font-size: 1rem;
    padding: 0.5rem;
    background-color: #84da9d;
    cursor: pointer;
    border: 2px solid black;
    min-width: 200px;
    width: fit-content;
}

.button-style:hover {
    background-color: rgb(235, 181, 235);
    color: white;
    transition: 0.5s;
}

main img {
    width: 30%;
}

.error-list {
    padding: 1rem;
}

a:visited {
    color: inherit;
}

a {
    text-decoration: none;
}


.list-style:hover {
    
    background-color: rgb(235, 181, 235);
    color: white;
    transition: 0.5s;
}
